<div>
    <h3>
        <a href="{{ path("app_post_postview", {id: post.id}) }}">{{ post.title }}</a>

        {% if post.postType == "author" %}
            <span class="label label-default">Author's post</span>
        {% endif %}

        <br>
        <small>Posted at {{ post.postedAt|date }}</small>
    </h3>

    <p>
        {{ post.content|nl2br }}
    </p>

    <a href="{{ path("app_post_post", {id: post.id}) }}" class="btn btn-default btn-sm">Edit</a>

    <hr>
</div>
