{% extends '::base.html.twig' %}

{% block title %}View a post &ndash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>View a post</h1>

        <a href="{{ path("app_default_index") }}">List of posts</a>

        <h3>
            {{ post.title }}
            <br>
            <small>Posted at {{ post.postedAt|date }}</small>
        </h3>

        <p>
            {{ post.content|nl2br }}
        </p>

        {% if post.postType == "author" %}
            <p>
                Author: {{ post.authorPostDetails.authorName }}
            </p>

            <p>
                Post url: <a href="{{ post.authorPostDetails.url }}">{{ post.authorPostDetails.url }}</a>
            </p>
        {% else %}
            <p>
                {% for tag in post.tags %}
                    <a href="{{ path("app_default_postsbytag", {tagName: tag.name}) }}" class="btn btn-default btn-xs">{{ tag.name }}</a>
                {% endfor %}
            </p>
        {% endif %}

        <a href="{{ path("app_post_post", {id: post.id}) }}" class="btn btn-default btn-sm">Edit</a>
    </div>
{% endblock %}
