{% extends "::base.html.twig" %}

{% block title %}List of posts &ndash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of posts</h1>

        <a href="{{ path("post_create") }}" class="btn btn-default btn-sm">Create a post</a>

        <div>
            {% for post in posts %}
                <div>
                    <h3>
                        <a href="{{ path('post_view', {id: post.id}) }}">{{ post.title }}</a>
                        <br>
                        <small>Posted at {{ post.postedAt|date }}</small>
                    </h3>

                    <p>
                        {{ post.content|nl2br }}
                    </p>

                    <a href="{{ path("post", {id: post.id}) }}" class="btn btn-default btn-sm">Edit</a>

                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
